/* write your override styles here */
#body{
    display: none;
}
#wall::before{
    display: none;
}
#wall .tag-1 {
    display: none;
  }
#wall > #parent1 > #tag-4 {
    display: none;
} 
#parent2 > #tag-5 > .slick{
    display: none;
}
#parent3 > .parent > #tag-6{
    display: none;
}
.parent > #parent4 > #tag-7 > .slick{
    display: none;
}
